.header {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerLogo {
        font-size: 20px;
        font-weight: 700;
        display: flex;
}

.headerWrapper {
        display: flex;
        
}

.headerItem {
        width: 32px;
        height: 32px;
        display: flex;
        margin-left: 7.5px;
        margin-right: 7.5px;
}

.headerSearch {
    border: 1px solid #8e8e8e
}